@tailwind base;
@tailwind components;
@tailwind utilities;

.content-height {
  height: calc(100vh - 52px);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  .rectangle {
    aspect-ratio: 3 / 1;
  }
}
